/* style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #776b5d65;
    display: flex;
    /* Center the container */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /* Make the body fill the viewport height */
}


h2 {
    font-size: 20px !important;
}


.container {
    background-color: #f3eeea61;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;


    .form-container {
        .inputbox {
            position: relative;

            input {
                width: 100%;
                height: 100%;
                padding-left: 10px !important;
                border: 3px solid #3D3D3D;
                background-color: #EEEEEE;
                border-radius: 5px;
                outline: none;
                color: #000000;
                transition: 0.5s;
            }

            span {
                position: absolute;
                right: 10%;
                pointer-events: none;
                color: #686d769e;
                text-transform: uppercase;
                transition: 0.5s;
                align-self: anchor-center;
            }
        }

        .inputbox input:valid ~ span,
        .inputbox input:focus ~ span {
            color: #578E7E;
            transform: translateY(-20px);
            font-size: .65em;
            padding: 0 10px;
            background-color: #F5ECD5;
            border-left: 4px solid #578E7E;
            border-right: 4px solid #578E7E;
            letter-spacing: 0.2em;
        }

        .inputbox:nth-child(2) input:valid ~ span,
        .inputbox:nth-child(2) input:focus ~ span {
            background: #F5ECD5;
            color: #578E7E;
            border-radius: 3px;
        }

        .inputbox input:valid,
        .inputbox input:focus {
            border: 2px solid #578E7E;
        }

        button {
            background-color: #574964;
            color: #FFDAB3;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .select_optn {
            display: flex;
            justify-content: space-around;

            .type_in_exp {
                border: 2px solid #9F8383;
                border-radius: 5px;

            }
        }
    }

    .summary {
        p {
            flex-direction: row;
            justify-content: space-between;
            padding-inline: 10px;
            align-self: center;
        }
    }

    .filters {

        label {
            margin-right: 15px;
            margin-left: 4px;
        }
    }

    .entries {
        flex-direction: column;
        justify-content: space-around;
        #entry-list {
            max-height: 225px;
            overflow-y: auto;
            border: 2px solid #9f838328;
            padding: 1px;
        }
        li {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
        }

        li:last-child {
            border-bottom: none;
        }

        li .actions {
            width: 20%;
            gap: 20%;
        }
    }

    #DeleteAll {
        border-radius: 5px;
        align-self: center;
        color: #6E8E59;
        text-decoration: none;
        font-size: 1.25em;
        letter-spacing: 0.1em;
        border: 2px solid #780c29c1;
        padding: 1px 20px;
        display: inline-block;
        text-transform: uppercase;
        transition: 0.5s;
        justify-self: center;
        overflow: hidden;
    }
    #DeleteAll:hover {
        background-color: #CAE0BC;
    }
    #DeleteAll span {
        display: inline-block;
        transition: 0.5s;
        text-shadow: 0 50px #780C28;
    }
    #DeleteAll:hover span {
        transform: translateY(-50px);
    }
}



@media screen and (min-width: 400px) and (max-width: 1024px) {
    /* Adjust styles for smaller screens */
    .container {
        gap: 2%;
        height: 90vh;
    }
    .inputbox {
        input {
            padding: 0 !important;
        }
    }
}


@media screen and (min-width: 1024px) {

    /* Adjust styles for smaller screens */
    .container {
        width: 80vh !important;
        height: 95vh;
        gap: 3%;
    }
}

@media screen and (max-width: 400px) {

    .container {
        gap: 3%;
        height: 100vh;
    }
    .inputbox{
        input {
            padding: 0 !important;
        }
    }
    h1,h2 {
        font-size: 1rem !important;
    }

    li {
        font-size: 10px;
    }
    #entry-list {
        max-height: 150px !important;
    }
}