/* style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.flex {
    display: flex;
    flex-direction: column;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        text-decoration: underline;
    }

    .form-container {
        input[type="text"],
        input[type="number"] {
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #cccccc81;
            border-radius: 5px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .select_optn {
            display: flex;
            justify-content: space-around;
        }
    }
    .summary {
        p {
            display: flex;
            justify-content: space-between;
        }
    }

    .filters {
        display: flex;

        .filters input[type="radio"] {
            margin-right: 5px;
        }
    }
    .entries ul {
        list-style: none;
        padding: 0;
    }

    .entries li {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .entries li:last-child {
        border-bottom: none;
    }

    .entries li .actions {
        margin-left: 10px;
    }

    #DeleteAll {
        border-radius: 5px;
        width: 20%;
        align-self: center;
    }

}