/* style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    display: flex;
    /* Center the container */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Make the body fill the viewport height */
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        text-decoration: underline;
    }

    .form-container {
        .inputbox {
            position: relative;

            input {
                width: 100%;
                /* Make inputs responsive */
                padding: 10px;
                border: 2px solid #cccccc81;
                border-radius: 5px;
                outline: none;
                color: #000000;
                font-size: 1em;
                transition: 0.5s;
            }

            span {
                position: absolute;
                left: 0;
                padding: 10px;
                pointer-events: none;
                font-size: 1em;
                color: #cccccc81;
                text-transform: uppercase;
                transition: 0.5s;
            }
        }

        .inputbox input:valid ~ span,
        .inputbox input:focus ~ span {
            color: #00dfc4;
            transform: translateX(10px) translateY(-7px);
            font-size: .65em;
            padding: 0 10px;
            background-color: #fff;
            border-left: 1px solid #00dfc4;
            border-right: 1px solid #00dfc4;
            letter-spacing: 0.2em;
        }

        .inputbox:nth-child(2) input:valid~span,
        .inputbox:nth-child(2) input:focus~span {
            background: #fff;
            color: #00dfc4;
            border-radius: 2px;
        }

        .inputbox input:valid,
        .inputbox input:focus {
            border: 1px solid #00dfc4;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .select_optn {
            display: flex;
            justify-content: space-around;
        }
    }

    .summary {
        flex-direction: column;
        justify-content: space-between;
        p {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .filters {

        label {
            margin-right: 15px;
            margin-left: 4px;
        }
    }

    .entries {
        flex-direction: column;
        justify-content: space-around;
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        li:last-child {
            border-bottom: none;
        }

        li .actions {
            margin-right: 10px;
            gap: 20%;
        }
    }

    #DeleteAll {
        border-radius: 5px;
        align-self: center;
        background-color:chocolate;
    }
}

@media screen and (max-width: 600px) {

    /* Adjust styles for smaller screens */
    .container {
        padding: 20px;
        width: 45vh !important;
        height: 90vh !important;
    }

    .form-container {
        flex-direction: column;
        /* Stack form elements vertically */
        align-items: center;

        .inputbox {
            width: 100%;
        }
    }

    .summary p {
        flex-direction: column;
        /* Stack summary items vertically */
        align-items: flex-start;
    }
}


@media screen and (min-width: 600px) and (max-width: 1280px) {

    /* Adjust styles for smaller screens */
    .container {
        padding: 20px;
        width: 90vh !important;
        height: 90vh !important;
        gap: 0% !important;
    }

    .form-container {
        flex-direction: column;
        /* Stack form elements vertically */
        align-items: center;

        .inputbox {
            width: 100%;
        }
    }

    .summary p {
        flex-direction: column;
        /* Stack summary items vertically */
        align-items: flex-start;
    }
}


@media screen and (min-width: 1300px) {

    /* Adjust styles for smaller screens */
    .container {
        padding: 20px;
        width: 80vh !important;
        height: 90vh !important;
    }

    .form-container {
        flex-direction: column;
        /* Stack form elements vertically */
        align-items: center;

        .inputbox {
            width: 100%;
        }
    }

    .summary p {
        flex-direction: column;
        /* Stack summary items vertically */
        align-items: flex-start;
    }
}